
body {
    background-color: #f8f9fa;
    line-height: 1.6;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1400px;
    background-color: white;
    box-shadow: 0 10px 20px rgb(68, 188, 68);
    border-radius: 30px;
}

.headline {
    font-size: 30px;
    color:rgb(15, 124, 15) ;
    font-weight: bolder;

}

article {
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

img {
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

form .text {
    flex: 1;
    margin-right: 20px;
}

form .form {
    flex:1 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form .text input[type="text"]{
    width: 700px;
    height: 300px;
}
form .bullets, form .text input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #059c60;
    border-radius: 20px;
}


form input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #059c60;
}



footer {
    background-color: rgb(4, 61, 4);
    text-align: center;
    height: 40px;
    margin-top: 530px;
}

footer i {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    margin: 10px 10px;
}

footer i:hover {
    color: #ddd;
}