
section{
    color: green;
    font-size: 30px;
    text-align: center;
    text-wrap: wrap;
    background-image: url("../images/3.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    margin:  auto;
    margin-top: 50px;
    font-weight: bolder;
    
  }
footer {
    background-color: rgb(4, 61, 4);
    text-align: center;
    height: 40px;
    margin-top: 100px;
}

footer i {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    margin: 10px 10px;
}

footer i:hover {
    color: #ddd;
}